<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Settings</title>
  <link rel="stylesheet" href="./settings.css">
</head>

<body ng-app="sPlayer" ng-controller="SettingsController">
  <ul class="items" ng-click="showContent($event)">
    <li id="library" class="item-selected">Library</li>
    <li id="playlist">Playlist</li>
    <li id="audio">Audio</li>
  </ul>
  <div class="items-content">
    <div id="library-content">
      <article>
        <p>Add or remove folders to your library</p>
        <div class="folders">
          <ul class="folders-list">
          </ul>
          <div class="folders-buttons">
            <button id="buttonAdd" ng-click="showFileDialog()">Add</button>
            <button id="buttonRemove" ng-click="removeFolder()">Remove</button>
          </div>
        </div>
      </article>
      <article id="total-songs">
          Total songs ({{ songs.length }})
      </article>
      <article id="library-options">
        <div>
          <input type="checkbox"> Monitor library folders
        </div>
        <button id="buttonReScan" title="Update library">Re-Scan folders</button>
      </article>
    </div>
    <div id="audio-content" style="display: none;">
      <p>Audio</p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem tenetur, quidem. Doloremque delectus, accusantium
      quos. Mollitia, similique, iusto. Est minima earum adipisci quam numquam sed. Officiis, placeat excepturi tenetur voluptates!
    </div>
    <div id="playlist-content" style="display: none;">
      <ul class="albums">
        <li>
          Album / Some artist
          <ul class="songs">
            <li>
              Some song
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="tools">
    <button ng-click="closeSettings()">Close</button>
  </div>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../bower_components/angular-route/angular-route.js"></script>
  <script src="../app.js"></script>
  <script src="../components/version/version.js"></script>
  <script src="../components/version/version-directive.js"></script>
  <script src="../components/version/interpolate-filter.js"></script>

  <script src="../services/app-service.js"></script>
  <script src="../services/settings-service.js"></script>
  <script src="settings.js"></script>
</body>

</html>
