<link rel="stylesheet" href="../components/toolBar/tool-bar.css">
<div class="tools">
  <i id="show-settings" class="fa fa-cog clickable" ng-click="$ctrl.showSettings()" aria-hidden="true" alt="Show Settings" title="Show Settings"></i>
  <i id="toggle-player" class="fa fa-chevron-down clickable" ng-click="$ctrl.togglePlayer()" aria-hidden="true" alt="Toggle Player Display" title="Toggle Player Display"></i>
  <i id="close-player" class="fa fa-times clickable" ng-click="$ctrl.closePlayer()" aria-hidden="true" alt="Close Player" title="Close Player"></i>
</div>