<div class="controls">
  <i class="fa fa-backward clickable" ng-click="$ctrl.previous()" aria-hidden="true" alt="Previous Song" title="Previous Song"></i>
  <i class="fa fa-play clickable" ng-click="$ctrl.play()" aria-hidden="true" alt="Play / Pause" title="Play / Pause"></i>
  <i class="fa fa-stop clickable" ng-click="$ctrl.stop()" aria-hidden="true" alt="Stop" title="Stop"></i>
  <i class="fa fa-forward clickable" ng-click="$ctrl.next()" aria-hidden="true" alt="Next Song" title="Next Song"></i>
</div>