body {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  -webkit-app-region: drag;
  font-family: sans-serif;
}

i {
  -webkit-app-region: no-drag;
}

i.clickable {
  -webkit-app-region: no-drag;
  opacity: 0.3;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
}

i.clickable:hover {
  cursor: pointer;
  opacity: 0.75;
}

.tools{
  width: 246px;
  display: flex;
  flex-direction: row;
  padding: 0 2px 0 2px;
}

.tools i:first-child{
  margin-right: auto;
}

.tools i{
  opacity: 0.75;
  cursor: pointer;
  color: #c9c9c9;
  border: none;
  background-color: transparent;
}

.tools i:last-child{
  margin-left: 5px;
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  height: 250px;
  width: 250px;
}

.background img{
  height: 100%;
  width: 100%;
}

.playing {
  width: 246px;
  display: flex;
  flex-direction: row;
  font-family: Arial;
  margin-top: auto;
  font-size: 0.8em;
  overflow: hidden;
  align-items: flex-end;
  padding: 0 2px 0 2px;
}

.playing .song, .playing .artist-album, .playing .timer {
  margin: 0;
}

.playing .song{
  line-height: 1.1em;
  max-height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
  color: white;
  text-shadow: 1px 1px 2px #666;
}

.playing .artist-album{
  color: #dfdfdf;
  text-shadow: 0 0 1px #333;
  line-height: 1.1em;
  max-height: 1em;
  text-overflow: ellipsis;
  overflow: hidden;
}

.playing .timer{
  color: #dfdfdf;
  text-shadow: 0 0 1px #333;
  line-height: 1em;
  max-height: 1em;
  /* Compensate border */
  margin: 0 2px 0 5px;
}

.controls{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
}
